body{
    background-color: beige;
    font-family: "Lucida Console", "Monaco", monospace;
}


h1{
    text-align:center;
    color:rgb(0, 121, 90);
}
h2{
    text-align:center;
    margin:50px;
}
p{
    text-align:center;
}

button{
    background-color: coral;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin:1px;
}
