body{
    background-color: beige;
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 16px;
}


h1{
    text-align:center;
    color:rgb(0, 121, 90);
    font-size: 2em;
    text-shadow:
        1px 1px 1px rgb(0, 0, 0),
        2px 2px 1px rgb(9, 51, 0);
}
h2{
    text-align:center;
    margin:50px;
}

h4{
    text-align:center;
}

p{
    text-align:center;
    margin-left:10px;
    margin-right:10px;
    font-size: 1rem;
}

button{

    background-color: coral;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin:1px;
}



.scroll-btn {
            background-color: rgb(90, 90, 90);
            color: white;
            border:5px solid rgb(255, 255, 255);
            width: 50px;
            height: 100px;
            cursor: pointer;
            align-items: center;
            font-size: 18px;
            position: fixed;
            margin:15px;
            border-radius: 10px;
            top: 50%;
            transform: translateY(-50%);

        }

        .scroll-btn.left {
            left: 0;  /* Align to the left edge of the viewport */
        }

        .scroll-btn.right {
            right: 0;  /* Align to the right edge of the viewport */
        }

