:root {
    --text: #060d07;
    --background: #f8faf0;
    --primary: #44c953;
    --secondary: #86e691;
    --accent: #5ce96c;

}



body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--background);
}


html {
    font-size: 16px;
}

.head-box {
    background-color: var(--secondary);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.main-body {
    display: flex;
    flex-direction: row;
    
}

.main-field {
    
    flex:3;
    
}

.extra-field {
    flex: 1;
}

.add-field {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.add-task-field {
    display: flex;
    align-items: center;
    width: 100%;
}

.add-description-field {
    width: 100%;
}

.basic-button {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}


.task-bucket {
    background-color: rgba(255, 243, 221, 0.39);
    border-radius: 30px;
    padding: 30px 25px 30px 25px;
}

.task-body {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--primary);
    height: 90px;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    display: flex;
    margin-bottom: 25px;

    transition: ease-out 0.15s;
}

.task {
    flex:1;
    padding: 10px 10px 10px 15px;

    background-color: var(--secondary);
    
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;

}

.task-date-section {
    padding: 10px 15px 10px 0px;
    background-color: var(--secondary);
    
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.task-time {
    margin-bottom: 5px;
    margin-top: 4px;
}

.task-date {
    margin:0;
}

.task-selected {
    filter:brightness(1.1);
}

.rm-button {
    width: 60px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: rgb(255, 190, 190);
    display: flex;

    align-items: center;
    justify-content: center;
    border: none;
    transition: ease 0.15s;
}

.done-button {
    width: 60px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: rgb(165, 248, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: ease 0.15s;
    
}

.rm-button:hover {
    background-color: rgb(247, 139, 139);
}
.rm-button:active {
    background-color:rgb(235, 85, 85);
}

.done-button:hover {
    background-color: rgb(109, 238, 102);
}
.done-button:active {
    background-color: rgb(64, 224, 56);
}


.input-box-task {
    height: 50px;
    width: 60%;

    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;

    box-sizing: border-box;
    border-top-left-radius: 15px;
    border: none;
    padding-left: 10px;
    background-color: rgb(240, 240, 240);
    transition: ease-in-out 0.3s;
}

.textarea-description {
    height: 60px;
    width: 60%;
    resize: none;
    

    font-size: 1rem;

    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;

    padding-left: 10px;
    padding-top: 5px;

    background-color: rgb(240, 240, 240);
    transition: ease-in-out 0.3s;
}

input:focus {
    outline: none;
    background-color: rgb(225, 255, 255);
  }
textarea:focus {
    outline: none;
    background-color: rgb(225, 255, 255);
}

.add-button {
    height: 50px;
    width: 60px;
    box-sizing: border-box;
    cursor: pointer;

    font-weight: 600;
    font-size: 1.2rem;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--accent);

    border: none;
    transition:ease 0.15s;

}   

.add-button:hover {
    filter: brightness(0.95);
    
}

/* Mobile optimization */
@media (max-width: 768px) {
    .main-field{
        max-width: 100vw;
    }
    html {
        font-size: 14px;
    }
    .add-field {
        padding: 10px;
    }

    .task-bucket {
        padding: 10px;
    }

    .task-body {
        padding: 6px 10px;
        margin-bottom: 15px;
        height: 80px;
        padding: 10px 12px 10px 12px;
        background-color: var(--primary);
    }

    .task {
        padding: 3px 5px 3px 10px;
        font-size: 1.2rem;
    }

    .task-date-section {
        font-size: 0.8rem;
    }

    .basic-button {
        padding: 0px;
        border-radius: 25px;
        margin-left: 5px;
    }
    
    .input-box-task {
        height: 50px;
        width: 100%;
    }
    .textarea-description {
        width: calc(100% - 55px);
    }
    
    .extra-field {
        display: none;
    }

}