body{
  padding-bottom: 1000px;
  font-family: "Geologica", sans-serif;
}


main{
  padding: 100px 60px 0px 60px;
  display: flex;
  justify-content: center;
    
}



/* Variables */

/* border colour */

:root {
  --border-color: rgb(120, 120, 120);
}




/* All the mini titles are h3 */

h3{
  font-size: 1.375rem;
}

/* First section */

.main-page-container{
 width: 80%;
 padding-top: 48px;
 /* background-color: aqua; */
}


.introduction-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;

}

.introduction-textbox{
  max-width: 900px;
  margin-right: 40px;
}
.emoji{
  font-size: 2.5rem;
  margin-bottom: 12px;
  
}

.introduction-title{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.introduction-text{
  font-size: 1.375rem;
  color: rgb(46, 46, 46);
  font-weight: 300;
  line-height: 28px;
}


.introduction-picture{
  height: 380px;
  width: 380px;
  /* fix this */

  border-radius: 10px;
}



/* Second section */

.about-title-section{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 1px var(--border-color);

  margin-bottom: 48px;
}

.subtitle{
  display: flex;
  align-items: center;
}

.linkedin-linkki{
  font-size: 1rem;
  font-weight: 300;
  color: rgb(65, 65, 65);
  text-decoration: none;
}

.second-section-content{
  display: flex;
  height: 1000px;
}

.second-section-left{
  margin-right: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.my-story-section{
  
  padding-bottom: 40px;
  border-bottom: solid black 1px;
  
}

.mini-subtitle{
  font-size: 1.375rem;
  font-weight: 700;
  color: #666;
  margin-bottom: 32px;
}

.my-story-text{
  font-size: 1.0625rem;
  font-weight: 300;
}


.education-section{
  flex: 1;

}

.place-of-education-container{
  margin-bottom: 30px;

}

.duration-of-education{
  font-size: 0.875rem;
  color:#666;
  margin-bottom: 3px;
  font-weight: 300;
}

.provider-of-education{
  font-size: 1.1875rem;
  font-weight: 600;
  margin-bottom: 5px;
  
}

.educationJob-description{
  font-size: 1rem;
  font-weight: 300;
}

/* J*b exprience section */
.work-exprience-section{
  flex: 1;
  margin-left: 24px;
}

.provider-of-work{
  font-size: 1.0625rem;
  font-weight: 600;
  margin-bottom: 5px;
  
}
.job-description {
  margin-bottom: 25px;
}






 /* 
 Sign up form..-
 */ 


input{
  border-width:3px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom:15px;
  width: 150px;
  
  margin-bottom: 5px;
}

.email-input{
    display: block;
    width: 330px;
}
.sign-up-button{
    padding-top:15px;
    padding-bottom:15px;
    padding-right: 154px;
    padding-left: 154px;
    border: none;
    border-radius: 5px;
    background-color: rgb(111, 168, 255);
    transition:0.15;
}

.sign-up-button:hover{
    cursor: pointer;
    opacity: 0.9;
}
.sign-up-button:active {
    cursor: grab;
    background-color: rgb(88, 135, 206);
}

.sign-up-text{
    font-weight: bold;
    color:white;
}

.sign-up-form{
  margin-top:50px ;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;            
}


/* Media queries */


/* Laptop */
@media (max-width: 1360px){
  html {
    font-size: 14px;
  }
  
  .main-page-container{
    width: 90%;
   }

  .introduction-picture{
    width: 300px;
    height: 300px;
  }
}


@media (max-width: 768px){

  main {
    padding: 70px 30px 0 30px;
  }
  .introduction-picture{
    width: 120px;
    height: 120px;
    margin-top: 30px;
    }

  .introduction-container{
    flex-direction: column ;
    align-items: start;
  }
}




