body{
    margin: 0px;
  }
  
  a{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  /* The header css 
  /* Style the header with a grey background and some padding */
  .header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(221, 221, 221, 0.8);;
    height: 35px;
    padding:10px;
    gap: 10px


      
    }
    
    /* Style the header links */
    .header a {
      float: left;
      color: black;
      text-decoration: none;
      font-size: 16px;
      line-height: 25px;
      border-radius: 4px;

      text-align: center; 



    }

    .link-div{
      background-color: rgba(255, 150, 150, 0);
    }
    
    .link-div a {
      color: rgb(252, 252, 252);
      font-weight: 600;
      transition: 0.12s;

    }

    .link-div a:hover{
      color: rgb(255, 255, 255);

    }
    .link-div:hover{
      cursor: pointer;
    }
    
    .header-right{
      background-color: lightsalmon;
      width: 150px;
    }
  
    .header-center-links{
      background-color: lightseagreen;
      max-width: fit-content;
      flex: 1;

      display: flex;
      gap: 5px;  
      align-items: center;

      gap: clamp(0.5rem, 2vw, 4rem);
      padding: 0 clamp(0.5rem, 2vw, 5rem);
        
    }

    .header-left{
      background-color:lightgreen;
      width:200px;
      margin-left: auto;
    }
  