body{
  font-family: "Geologica", sans-serif;
  display: flex;
  justify-content: center;


}


main{
  padding: 100px 60px 150px 60px;
  display: flex;
  justify-content: center;
  max-width: 3000px;
  overflow-x: hidden;
}



/* Variables */

/* border colour */

:root {
  --border-color: rgb(120, 120, 120);
  font-size: 15px;
}




/* All the mini titles are h3 */

h3{
  font-size: 1.375rem;
}

/* First section */

.main-page-container{
 width: 80%;
 padding-top: 48px;
 /* background-color: aqua; */
}


.introduction-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;

}

.introduction-textbox{
  max-width: 900px;
  margin-right: 40px;
}
.emoji{
  font-size: 2.5rem;
  margin-bottom: 12px;
  margin-right: 10px;
  
}

.hand-emoji {
  transition: 1s ;
  display: inline-block;
}

.hand-emoji:hover {
  transform: rotate(70deg);
}

/* For movign the hand with js */
.hand-emoji-move {
  transform: rotate(24deg);
}

.introduction-title{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.introduction-text{
  font-size: 1.375rem;
  color: rgb(46, 46, 46);
  font-weight: 300;
  line-height: 28px;
}


.introduction-picture{
  height: 380px;
  width: 380px;
  object-fit: cover;
  /* fix this */

  border-radius: 10px;
}



/* Second section */

.about-title-section{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 1px var(--border-color);

  margin-bottom: 48px;
}

.subtitle{
  display: flex;
  align-items: center;
}

.linkedin-linkki{
  font-size: 1rem;
  font-weight: 300;
  color: rgb(65, 65, 65);
  text-decoration: none;
}

.second-section-content{
  display: flex;
  height: 680px;
  padding-bottom:90px;
}



.second-section-left{
  margin-right: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;

}

.my-story-section{
  flex: 1;
  
}

.mini-subtitle{
  font-size: 1.375rem;
  font-weight: 700;
  color: #666;
  margin-bottom: 32px;
}

.my-story-text{
  font-size: 1.0625rem;
  font-weight: 300;
}


.education-section{
  flex: 1;
}

.place-of-education-container{
  margin-bottom: 30px;

}

.duration-of-education{
  font-size: 0.875rem;
  color:#666;
  margin-bottom: 3px;
  font-weight: 300;
}

.provider-of-education{
  font-size: 1.1875rem;
  font-weight: 600;
  margin-bottom: 5px;
  
}

.educationJob-description{
  font-size: 1rem;
  font-weight: 300;
}

/* J*b exprience section */
.work-exprience-section{
  flex: 1;
  margin-left: 24px;
}

.provider-of-work{
  font-size: 1.0625rem;
  font-weight: 600;
  margin-bottom: 5px;
  
}
.job-description {
  margin-bottom: 25px;
}


.job-description-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.job-description-flexible-container {
  display: flex;
  height: 1.4rem;
  background-color: rgb(240, 240, 240);
  border-bottom-left-radius: 10px; border-top-right-radius: 10px;
  transition: height 0.5s ease-in-out;
  padding-left: 2px; padding-right: 2px;

  position: relative;
  z-index: 0;
}

.job-description-flexible-container:hover .job-description-text{
  -webkit-line-clamp: unset;
}

.job-description-flexible-container:hover {
  height: 6.5rem;
}

@media (max-width: 1150px) {
  .job-description-flexible-container:hover{
    height: 140px;
  }
}

@media (max-width: 768px) {
  .job-description-flexible-container:hover{
    height: 175px;
  }
}

.hover-indicator-image {
  position: absolute;
  top: -63px;
  right: -95px;
  height: 100px;
}




/* Third section ↓ */


.third-section-content{
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  /* background-color: rgb(49, 179, 146); */
}

.skill-box-container {
  /* background-color: antiquewhite; */
  flex: 1;


  display: flex;
  justify-content: space-between;

  transition: ease-out 0.3s;

  margin-bottom: 25px;
}

.skill-box-container-moved { 
  transform: translateX(-200px)
}

.skill-box {
  width: 250px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 25px;

  border: solid 1px rgb(173, 173, 173);

  margin-right: 20px ;
  
}

.skill-name {
  font-size: 1.15rem;
  font-weight: bold;
}

.skill-paragraph {
  padding: 8px 0 16px 0;
  height: 104px;
}

.skill-visualizing-icons {
  height: 32px;
  /* background-color: orange; */
  display: flex;
  gap: 10px;
  
}

.skill-logo-svg {
  height: 32px;
}

.scroll-checkboxes {
  display: none;
  justify-content: center;
}

.skills-scroll-box {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: rgb(216, 216, 216);
  padding: 0;
  border-radius: 10px;

  border: none;

  cursor: pointer;
  transition: 0.15s;

}

.skills-scroll-box:checked {
  background-color: rgb(37, 128, 247);
}

/* Contact section */

.contact-title-section {
  scroll-margin-top: 100px;
}

.contact-section-content{
  display: flex;
  height: 180px;


}

.contact-content {
  width: 60%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;


}

.contact-text {
  margin-bottom: 50px;
  font-size: 1.2rem;
}

.contact-images {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.contact-button {
  padding: 10px 15px 10px 15px;
  height: 60px;
  width: 150px;
  margin-right: 5px;

  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;

}

.contact-button:hover {
  background-color: rgb(0, 99, 230);

}

.contact-button:active {
  background-color: #666a6b;
  transition: background-color 0.1s;

}

.linkedin-button {
  background-color: #0077B5;
}


.contact-image1 {
  border-radius: 15px;
  height: 100%;

  object-fit: cover;
}

.contact-image2 {
  height: 100%;
  
  border-radius: 15px;
}
 /* 
 Sign up form..-
 */ 


input{
  border-width:3px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom:15px;
  width: 150px;
  
  margin-bottom: 5px;
}

.email-input{
    display: block;
    width: 330px;
}
.sign-up-button{
    padding-top:15px;
    padding-bottom:15px;
    padding-right: 154px;
    padding-left: 154px;
    border: none;
    border-radius: 5px;
    background-color: rgb(111, 168, 255);
    transition:0.15;
}

.sign-up-button:hover{
    cursor: pointer;
    opacity: 0.9;
}
.sign-up-button:active{
    cursor: grab;
    background-color: rgb(88, 135, 206);
}

.sign-up-text{
    font-weight: bold;
    color:white;
}

.sign-up-form{
  margin-top:50px ;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;            
  }



/* Media queries */


/* Laptop */
@media (max-width: 1360px){
  html {
    font-size: 13px;
  }

  main{
    padding: 100px 40px 0px 40px;
  }
  .main-page-container{
    width: 90%;
   }

  .introduction-picture{
    width: 300px;
    height: 300px;
  }
  .scroll-checkboxes {
    display: flex;
  }

  
}


@media (max-width: 768px){
  body {
    padding-bottom: 50px;
  }
  main {
    padding: 50px 25px 0 25px;
  }
  .introduction-picture{
    width: 120px;
    height: 120px;
    margin-top: 30px;
    }

  .introduction-container{
    flex-direction: column ;
    align-items: start;
  }


  /* Makes the sections go vertical */
  .second-section-content{
    flex-direction: column;
    height: auto;
  }
  .hover-indicator-image {
    position: absolute;
    top: -120px;
    right: -30px;
    height: 100px;
  }

  .work-exprience-section{
    margin: 50px 0 0 0;
  }

  .education-section {
    margin-bottom: 50px;
  }


  /* Third section */

  .osaamiseni-mini-subtitle {
    margin-bottom: 14px;
  }
  .skill-box-container {
    flex-direction: column;
    align-items: center;
    
  }

  .skill-box {
    margin-right: 0;
    margin-top: 25px;
    width: auto;
    min-width: 250px;
  }

  .scroll-checkboxes {
    display: none;
  }

  /* Contact section */

  .contact-section-content {
    flex-direction: column;
  }

  .contact-content{
    width: 100%;
  }

  .contact-buttons-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 50px;
  }

  .contact-button {
    width: 100%;
  }

  .linkedin-button {
    margin-top: 20px;
  }

  .contact-btn-linkDiv {
    width: 100%;
  }

  .contact-images {
    display: none;
  }

  /* .contact-image1 {
    border-radius: 15px;
    height: unset;
    width: 100%;
    object-fit: cover;
  }
  
  .contact-image2 {
    height: unset;
    
    border-radius: 15px;
  } */


}

